<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SportsStore2</title>
	<link rel="stylesheet" href="~/lib/css/bootstrap.css" />
</head>
<body>
	<div class="p-2">
		@RenderBody()
	</div>
</body>
</html> 